/* -------------------------------------------------------------------------- */
/* Outer
/* -------------------------------------------------------------------------- */

.IconLayout {
  --IconLayout-gap: 0.5em;
}

[class*='IconLayout--placement'] {
  display: flex;
  width: 100%;
  height: 100%;
}

.IconLayout--placement-top-left {
  justify-content: flex-start;
  align-items: flex-start;
}

.IconLayout--placement-top {
  justify-content: center;
  align-items: flex-start;
}

.IconLayout--placement-top-right {
  justify-content: flex-end;
  align-items: flex-start;
}

.IconLayout--placement-left {
  justify-content: flex-start;
  align-items: center;
}

.IconLayout--placement-center {
  justify-content: center;
  align-items: center;
}

.IconLayout--placement-right {
  justify-content: flex-end;
  align-items: center;
}

.IconLayout--placement-bottom-left {
  justify-content: flex-start;
  align-items: flex-end;
}

.IconLayout--placement-bottom {
  justify-content: center;
  align-items: flex-end;
}

.IconLayout--placement-bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
}

/* -------------------------------------------------------------------------- */
/* Inner
/* -------------------------------------------------------------------------- */

[class*='IconLayout--direction'] .IconLayout__inner {
  display: inline-flex;
  vertical-align: middle;
}

.IconLayout--direction-top-left .IconLayout__inner {
  flex-direction: row;
  align-items: flex-start;
}

.IconLayout--direction-top .IconLayout__inner {
  flex-direction: column;
  align-items: center;
}

.IconLayout--direction-top-right .IconLayout__inner {
  flex-direction: row-reverse;
  align-items: flex-start;
}

.IconLayout--direction-left .IconLayout__inner {
  flex-direction: row;
  align-items: center;
}

.IconLayout--direction-center .IconLayout__inner {
  flex-direction: column;
  align-items: center;
}

.IconLayout--direction-right .IconLayout__inner {
  flex-direction: row-reverse;
  align-items: center;
}

.IconLayout--direction-bottom-left .IconLayout__inner {
  flex-direction: row;
  align-items: flex-end;
}

.IconLayout--direction-bottom .IconLayout__inner {
  flex-direction: column-reverse;
  align-items: center;
}

.IconLayout--direction-bottom-right .IconLayout__inner {
  flex-direction: row-reverse;
  align-items: flex-end;
}

/* -------------------------------------------------------------------------- */
/* Icon
/* -------------------------------------------------------------------------- */

.IconLayout--display-textOnly .IconLayout__icon {
  white-space: nowrap;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}

[class*='IconLayout--direction'] .IconLayout__icon {
  flex: 0 0 auto;
}

.IconLayout--direction-top-left .IconLayout__icon {
  margin-right: var(--IconLayout-gap);
}

.IconLayout--direction-top .IconLayout__icon {
  margin-bottom: var(--IconLayout-gap);
}

.IconLayout--direction-top-right .IconLayout__icon {
  margin-left: var(--IconLayout-gap);
}

.IconLayout--direction-left .IconLayout__icon {
  margin-right: var(--IconLayout-gap);
}

.IconLayout--direction-center .IconLayout__icon {
  margin-bottom: var(--IconLayout-gap);
}

.IconLayout--direction-right .IconLayout__icon {
  margin-left: var(--IconLayout-gap);
}

.IconLayout--direction-bottom-left .IconLayout__icon {
  margin-right: var(--IconLayout-gap);
}

.IconLayout--direction-bottom .IconLayout__icon {
  margin-top: var(--IconLayout-gap);
}

.IconLayout--direction-bottom-right .IconLayout__icon {
  margin-left: var(--IconLayout-gap);
}

.IconLayout__icon img,
.IconLayout__icon svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/* -------------------------------------------------------------------------- */
/* Text
/* -------------------------------------------------------------------------- */

.IconLayout--display-iconOnly .IconLayout__text {
  white-space: nowrap;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}
